/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Prevent the browser to add default margin and padding */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Apply some globals styles to the body */
body {
    font-family: "Gotu", "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

/* Header styles */
.header {
    height: 95vh; /* vh = viewport height (responsive) */
    /* Two images as background, one lin-grad and another real image */
    background-image: linear-gradient(to right, #7ed56fb0, #28b485b0), url(../img/hero.jpg);
    background-size: cover; /* to fit all the disponible place */
    background-position: top;
    position: relative;

    /* Make a shape(polygon) with the clip-path function attribut */
    clip-path: polygon(0 0, 100% 0%, 100% 80vh, 0 100%);
}

/* Logo box styles */
.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

/* Animate the logo when hovered */
.logo:hover {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Text box styles */
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* For a well centered box */
}

/* Header title styles */
.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* Fix happened shake when animated */
    backface-visibility: hidden;
}

.heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;

    /* Use animations defined bellow (moveInRight)*/
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    
    /* animation-delay: 1s;
    animation-iteration-count: 2; */
}

.heading-primary--sub {
    display: block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 20px;

    /* Use animations defined bellow (moveInLeft) */
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    /* animation-delay: 1s;
    animation-iteration-count: 2; */
}

/* Define some animations */

@keyframes moveInLeft {
    /* start */
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    /* middle */
    80% {
        transform: translateX(10px); /* trespass the limit */
    }
    /* end*/
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    /* start */
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    /* middle */
    80% {
        transform: translateX(-10px); /* trespass the limit */
    }
    /* end*/
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}