@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Center a block with absolute positioning
@mixin centerAsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}


// MEDIA QUERY MANAGER

/*
    0 - 600px : Phones
    600px - 900px : Tablet portrait mod
    900px - 1200px : Tablet landscape mod
    [1200px - 1800px] : Our normal styles will apply
    1800px - +inf : Big desktop
*/

// Use of @if statements with @content to make the code more flexible

/*
    $breakpoint arguments choices

    - phone
    - tab-port
    - tab-land
    - big-desktop
*/
// W'll also use em as size unit because it's more suitable
// for media query. 1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width : 37.5em) { // 600px = 37.5em
            @content
        };
    }
    @if $breakpoint == tab-port {
        @media (max-width : 56.25em) { // 900px
            @content
        };
    }
    @if $breakpoint == tab-land {
        @media (max-width : 75em) { // 1200px
            @content
        };
    }
    @if $breakpoint == big-desktop {
        @media (min-width : 112.5em) { // 1800px
            @content
        };
    }
}

