@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Center a block with absolute positioning
@mixin centerAsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}