// Define colors variables
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-gray-light-1: #f7f7f7;
$color-gray-dark: #777;
$color-black: #000;
// lemon-light: #e4ff4a lemon-dark: #9ab30c
// skyBlue-light: #1fe1ff skyBlue-dark: #108091
$color-secondary-light: #e4ff4a;
$color-secondary-dark: #7e9209;
$color-tertiary-light: #1486ff;
$color-tertiary-dark: #0c4e94;

// Font
$default-font-size: 1.6rem; // 16px because we choose 1rem = 10px

// Grid
$grid-max-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-horizontal: 6rem;